<a routerLink="../creationJourFerie"><button class="btn btn-success">[bouton temporaire] formulaire ajouter jour ferie</button></a>
<h1>AFFICHAGE LISTE DES JOURS FERIES</h1>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Jour</th>
            <th scope="col">Commentaires</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>










<a href="creationJourFerie"><button class="btn btn-success">[bouton temporaire] formulaire ajouter jour ferie</button></a>

<p *ngFor="let jourFerme of listeJourFerme">
    <b>DATE</b> : {{jourFerme.date}} <b>TYPE JOUR</b> : {{jourFerme.typeJour}} <b>COMMENTAIRE</b> : {{jourFerme.commentaire}}
</p>