<h1>AFFICHAGE LISTE DES JOURS FERIES</h1>
<select>
    <option *ngFor="let year of listYears" (click)="filterYear(year)" ng-model="year">{{year}}</option>
</select>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Jour</th>
            <th scope="col">Commentaires</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jour of listeJourFerme">
            <td>{{jour.date}}</td>
            <td>{{jour.typeJourFerme}}</td>
            <td>{{jour.date | date:'EEEE'}}</td>
            <td>{{jour.commentaire}}</td>
            <td *ngIf="utilisateurConnecte.roles[0] == 'ROLE_ADMINISTRATEUR'">
                <i class="fa fa-search"></i>
            </td>
        </tr>
    </tbody>
</table>

<a href="creationJourFerie"><button class="btn btn-success">Ajouter jour ferie</button></a>