<script type="text/javascript" src="date.js"></script>
<div class="row justify-content-md-center">
	<div class="col-md-auto" style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px; ">
		<h2>Vue par d&eacute;partement par jour et par collaborateur</h2>
	</div>
</div>

<div>
	<div class="row mt-3">

		<!-- Mois -->
		<div class="col-sm">
			<h4 class="col-4">Mois</h4>
			<select class="form-control col-8">
				<option *ngFor="let moi of listeMois" (click)="filtrerParMois(moi.number)" ng-model="moi.number">
					{{moi.nom}}
				</option>
			</select>
		</div>

		<!-- Année -->
		<div class="col-sm">
			<h4 class="col-4">Annee</h4>
			<select class="form-control" [(ngModel)]="yearSelect">
				<option *ngFor="let annee of listeAnnees" (click)="filtrerParAnnee(annee)" ng-model="annee">{{annee}}
				</option>
			</select>
		</div>
	</div>
</div>

<table class="table table-striped mt-3">
	<thead class="bg-secondary">
		<tr>
			<th scope="col" class="border border-dark">Nom</th>
			<th *ngFor="let jour of tableauDeJours" class="border border-dark">{{jour[0]}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let collegues of listeCollegues">
			<td scope="col" class="border border-dark">{{collegues.nom}}</td>
			<ng-container *ngFor="let jour of tableauDeJours">
				<!-- Cas 1 , le jour est un jour WEEK-END, il est grisé -->
				<td scope="col" class="bg-secondary border border-dark"
					*ngIf="jour[1]=='Sat' || jour[1]=='Sun'; else autreCas"></td>

				<!-- Cas 2 , le jour n'est pas un jour WEEK-END, on affiche le contenu-->
				<ng-template #autreCas>

					<td scope="col" class="border border-dark">
						<ng-container *ngFor="let abs of listeAbsences">
							<div *ngIf="(abs.emailCollegue==collegues.email)&&
							(
								(
									abs.dateDebut.toString()<=(anneeSelectionnee+'-'+moisSelectionne+'-'+jour[0])
								)
								&&
								(
									abs.dateFin.toString()>=(anneeSelectionnee+'-'+moisSelectionne+'-'+jour[0])
								)
							)">{{abs.type | slice:0:1}}</div>
						</ng-container>
					</td>

				</ng-template>
			</ng-container>
		</tr>
	</tbody>
</table>