<div class="row justify-content-md-center">
	<div class="col-md-auto" style="border: 1px solid #ced4da;background-color: #e3f2fd; border-radius:7px; ">
		<h2>Vue par d&eacute;partement par jour et par collaborateur</h2>
	</div>
</div>
<div>
	<div class="row mt-3">
		<!-- Département -->
		<div class="col-sm">
			<h4 class="col-4">D&eacute;partement</h4>
			<select class="form-control col-8">
				<option>--LES OPTIONS--</option>
			</select>
		</div>

		<!-- Mois -->
		<div class="col-sm">
			<h4 class="col-4">Mois</h4>
			<select class="form-control col-8">
				<option>--LES OPTIONS--</option>
			</select>
		</div>

		<!-- Année -->
		<div class="col-sm">
		<h4 class="col-4">Ann&eacute;e</h4>
		<select class="form-control col-8">
			<option>--LES OPTIONS--</option>
		</select>
		</div>
	</div>
</div>

<table class="table table-striped mt-3">
    <thead class="bg-secondary">
        <tr>
			<th scope="col" class="border border-dark">Nom</th>
            <th scope="col" class="border border-dark">01</th>
            <th scope="col" class="border border-dark">02</th>
            <th scope="col" class="border border-dark">03</th>
            <th scope="col" class="border border-dark">04</th>
            <th scope="col" class="border border-dark">05</th>
            <th scope="col" class="border border-dark">06</th>
            <th scope="col" class="border border-dark">07</th>
            <th scope="col" class="border border-dark">08</th>
            <th scope="col" class="border border-dark">09</th>
            <th scope="col" class="border border-dark">10</th>
            <th scope="col" class="border border-dark">11</th>
            <th scope="col" class="border border-dark">12</th>
            <th scope="col" class="border border-dark">13</th>
            <th scope="col" class="border border-dark">14</th>
            <th scope="col" class="border border-dark">15</th>
            <th scope="col" class="border border-dark">16</th>
            <th scope="col" class="border border-dark">17</th>
            <th scope="col" class="border border-dark">18</th>
            <th scope="col" class="border border-dark">19</th>
            <th scope="col" class="border border-dark">20</th>
            <th scope="col" class="border border-dark">21</th>
            <th scope="col" class="border border-dark">22</th>
            <th scope="col" class="border border-dark">23</th>
            <th scope="col" class="border border-dark">24</th>
            <th scope="col" class="border border-dark">25</th>
            <th scope="col" class="border border-dark">26</th>
            <th scope="col" class="border border-dark">27</th>
            <th scope="col" class="border border-dark">28</th>
            <th scope="col" class="border border-dark">29</th>
            <th scope="col" class="border border-dark">30</th>
            <th scope="col" class="border border-dark">31</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let collegues of listeCollegues">
			<td scope="col" class="border border-dark">{{collegues.nom}}</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
			<td scope="col" class="border border-dark">-</td>
        </tr>
    </tbody>
</table>
