<h1 class="text-center">GESTION DES ABSENCES</h1>

<br/>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="border border-dark">Date de début</th>
            <th scope="col" class="border border-dark">Date de fin</th>
            <th scope="col" class="border border-dark">Type</th>
            <th scope="col" class="border border-dark">Statut</th>
            <th scope="col" class="border border-dark"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let absence of listeAbsences">
            <td class="border border-dark">{{absence.dateDebut | date: 'dd/MM/yyyy'}}</td>
            <td class="border border-dark">{{absence.dateFin | date: 'dd/MM/yyyy'}}</td>
            <td class="border border-dark">{{absence.type | lowercase}}</td>
            <td class="border border-dark">{{absence.statut}}</td>
            <td *ngIf="collegue.roles[0] == 'ROLE_ADMINISTRATEUR'" class="border border-dark ">
                <button class="btn"><fa-icon [icon]="faPencil"></fa-icon></button>
                <button class="btn"><fa-icon [icon]="faTrash"></fa-icon></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
  <div class="offset-9 col-3">
   <a href="demandeAbsence"><button class="float-right btn btn-success">Demander une absence</button></a>
  </div>
</div>



<label><b>Solde des compteurs :</b></label>
<ul *ngFor="let solde of listeSoldes">
  <li *ngIf="solde.type.toString() == 'CONGES_PAYES'">Congés payés : {{solde.nombreDeJours}}</li>
  <li *ngIf="solde.type.toString() == 'RTT_EMPLOYE'">RTT : {{solde.nombreDeJours}}</li>
</ul>
<br/>

